<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <title> Tubify: Spotify API </title>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Montserrat:wght@800&family=Open+Sans:wght@600&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

        {% block content %}{% endblock %}

        <label class="credit">prncn | build_vers 1.4.6 </label>
        <img src="https://i.scdn.co/image/ab6775700000ee85a9adf0cdd019dd847e64ad03" id="imgcredit">
        <a href="{{url_for('index')}}"><img src="{{profile_img}}" id="imgprofile"></a>
        <button onclick="location.href = '/logout'" class="log">LOG_OUT</button>

        <div class="loader-wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>
        <script>
            $(window).on("load",function(){
              $(".loader-wrapper").fadeOut("slow");
            });

            $(':button').on('click', function(){
                $(".loader-wrapper").fadeIn("slow");
                $(this).prop('disabled', true);
            });
        </script>

    </body>
</html>