{% extends "base.html" %}
{% block content %}

<div style="position: absolute; top: 20%; left: 20%; width: 60%">
    <button type="button" style="position: relative; margin-bottom: 10px"  onclick="location.href = '/fetchlikes'">
        Create a Spotify playlist from your recent YouTube Likes. <br>
    </button>
    <button type="button" style="position: relative; margin-bottom: 10px" onclick="location.href = '/collection'">
        Display your Collection.
    </button>
    <button type="button" style="position: relative; margin-bottom: 10px" onclick="location.href = '/listenhabits'">
        Your favorites, by gender.
    </button>
</div>

<button onclick="location.href = '/login'" class="log" style="right: 150px">LOG_IN</button>

{% endblock %}