{% extends "base.html" %}
{% block content %}

    <p class="logo">saved.</p>
    <!--p class="sub_one">playlist created<br/>playlist created<br/>playlist created<br/>playlist created<br/></p>
    <p class="sub_one" style="right:400px; top:600px">loaded to spotify<br/>loaded to spotify<br/>loaded to spotify<br/>loaded to spotify<br/></p-->
    {% for image in image_url %}<img src="{{image}}">{% endfor %}

    <style>
        label.credit {
            color: #f8ede3;
        }
    </style>
    <button onclick="location.href = '/'" class="log" style="right: 150px">HOME</button>

{% endblock %}