{% extends "base.html" %}
{% block content %}
    <script src="{{url_for('static', filename='jquery-piechart.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artists.css') }}">

    <div style="position: absolute; top:1300px">
    {% for i in range(0, artlen) %}
        <a id="a_icons" href="{{a_names[i]}}"><img src="{{images[i]}}" style="
        position: relative;
        width:200px;
        height:200px;
        object-fit:cover;
        border-radius:50%;"></a>
    {% endfor %}
    </div>

    <div id="statistic_1">
        <div class="bar1" data-percent=-{{fgen}}></div>
        <div class="bar2" data-percent={{mgen}}></div>
        <p class="stat_desc"> <br> {{fgen}}% female artists in your top listens<br> {{mgen}}% are male</p>
    </div>

    <div id="statistic_2">
        <div class="bar1" data-percent=-{{npop}}></div>
        <div class="bar2" data-percent={{ppop}}></div>
        <p class="stat_desc"> <br> {{npop}}% of your faves are underground <br> {{ppop}}% are popular
        <br> {{100-(ppop+npop)}}% are somewhere inbetween </p>
    </div>

    <div id="statistic_3">
        <div class="bar1" data-percent=-{{topv[3]+topv[1]}}"></div>
        <div class="bar2" data-percent=-{{topv[1]}}"></div>
        <div class="bar3" data-percent={{topv[2]}}"></div>
        <p class="stat_desc">
            {% for i in range(0, 3) %}
                {{topv[i]}}% {{topn[i]}} <br>
            {% endfor %}
            {% for i in range(toplen-3, toplen) %}
                {{topv[i]}}% {{topn[i]}} <br>
            {% endfor %}
        </p>
    </div>

    <!--div style="align-content: space-around">
    {% for name in a_names %}
        <p id="a_names">
            {{name}}
        </p>
    {% endfor %}
    </div-->

    <style>
        label {color: #f8ede3;}
        html {background: #000000}
        body {height: 1300px}
    </style>

    <script>
        $(function(){
            $('.bar1').easyPieChart({
                size: 300,
                barColor: '#f9c4b2',
                trackColor: 'rgba(238,148,114,0.09)'

            })
            $('.bar2').easyPieChart({
                size: 300,
                barColor: '#f2867f'

            })
            $('.bar3').easyPieChart({
                size: 300,
                barColor: '#f27fa0'
            })
        });
    </script>

    <button onclick="location.href = '/'" class="log" style="right: 150px">HOME</button>

{% endblock %}