#a_names {
    color: #000000;
    font-size: 30px;
    line-height: 20px;
    font-family: 'Playfair Display', serif;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    right: 100px;
    top: 0;
    margin: 0;
    opacity: 0.2;
    transition: 0.2s;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: flex-start;
}

#a_names:Hover {
    opacity: 1;
}

#a_icons{
    opacity: 0.6;
}

#a_icons:Hover{
    opacity: 1;
}

.bar1, .bar2, .bar3 {
    position: absolute;
}

#statistic_1 {
    position: absolute;
    top: 200px;
    left: 20%;
}

#statistic_2 {
    position: absolute;
    top: 550px;
    left: 20%;
}

#statistic_3 {
    position: absolute;
    top: 900px;
    left: 20%;
}

.stat_desc {
    position:relative;
    width: 300px;
    left: 5vh;
}